
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-areas:'hd hd hd'
                        'nv mn mn'
                        'ad ad ad'
                        'ft ft ft';
   
}


.pic{
    background-image: linear-gradient(), url(images.png) ;
    /* width: 200px; */
    height: 100vh;
    background-position: center;
    background-size: cover;
}



header{
grid-area: hd;
background-color: white;

}
.head-container{
    display: flex;
    flex-direction: column;
    gap: 15px ;
    margin-inline: auto; 
    /* padding: 30px; */
    /* border: 5px solid rgb(41, 0, 128); */
}
.top-bar{
    display: flex;
    gap: 30px ;
    /* border: 5px solid teal; */
}
.leftcolumn{
    /* padding-top: 25Spx; */
    margin: 0 auto;
    width: 100%;
    flex-grow: 1;
    display: flex;
    gap: 7px ;
    /* margin-inline: auto;  */
    padding: 20px; 
 }
 .lc-left{
    margin: 0 auto;
    width: 25%;
    /* border: 2px solid red; */
 }
 #logo{
    display: block;
    margin: 0 auto;
    height: 150px;
    border :2px solid  rgb(147, 192, 231); 
    border-radius: 50%;
    object-fit: cover;
}
    .lc-right{
        margin: 0 auto;
        width: 75%;
        padding: 20px;
        font-family: 'Wallpoet', cursive;
        /* font-family: 'Black Ops One', cursive; */
        font-size: 65px;
        justify-content: center;
        /* border: 2px solid rgb(62, 180, 62); */
        }
   
/* search box
.rightcolumn{
    font-family: Raleway, sans-serif;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    width: 25%;
    border :3px solid black; 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
.search-box{
    font-size: 20px;
    border: solid o.3em;
    display: inline-block;
    position: relative;
    border-radius: 2.5em;
    display: flex;
    align-items: center;
    justify-content: right;
}
.search-box input{
    background: rgb(232, 229, 229);
    border:  solid 0.3em;
    border-color: rgb(170, 170, 72);
    flex: 1;
    padding: 1.3px 0.5px;
}
::placeholder{
    color: rgb(238, 95, 161);
}
.search-box button img{
    width: 30px;
}
.search-box button{
    border: o;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
   
} */





ul{
    display: flex;
    align-self: flex-end;
    justify-content: space-evenly;
    background-color: beige;
}
li{
    padding: 10px;
    display: flex;
    justify-content: center;
    
    cursor: pointer;
    /* border: 2px solid blanchedalmond;
    background-color: rgb(155, 195, 195); */
}
li a{
    /* color: rgb(70, 67, 67); */
    color: #0a5026;
    text-decoration: none;
    font-size: 1.5em;
    opacity: 0.7;
    transition: 0.5s;

}
 ul li a:hover{
    opacity: 1;
}



main{
grid-area: mn;
padding: 30px;
font-family: 'Noto Sans Chorasmian', sans-serif;
}
.Desc{
    letter-spacing: 1px;
        font-size: 23px ;
        padding: 15px;
        base-palette: 3;
        override-colors: 6 #FFB978; 
      }
      /* #Description{
        font-sfamily: "Nabla";
        font-style: italic ;
      } */

      .Rule{
        padding: 20px;
        /* letter-spacing: 1px; */
        font-family: 'Playfair', serif;
        font-size: 20px;
        line-height: 18px;
        font-weight: 500;
        letter-spacing: 0.02em;
        background-color: rgb(180, 184, 246);
        /* box-shadow: 4px 4px 4px 4px; */

      }
.zodiac-card{
    /* border : 3px solid rgb(5, 131, 170); */
    display: grid;
    grid-auto-rows: 100px;
    padding: 10px;
    justify-content: space-between;
    gap: 20px;
    }
    .zodiac-boxes{
        border: 4px solid yellow;
        background-color: azures;
        padding: 30px;
    } 
.Reference{
    padding: 20px;
    letter-spacing: 1px;
    background-color: rgb(227, 202, 248);
    box-shadow: 4px 4px 4px 4px  rgb(202, 248, 217);
    
}

/* .navigation{
grid-area: nv;
} */
 



.adv{
grid-area: ad;
padding: 30px;
}
.formcard{
    background-color: rgb(236, 167, 188);
    padding: 10px;
    border: 1px solid rgb(45, 43, 43);
}
.form{
    background-color: azure;
    padding: 10px;
}



footer{
    grid-area: ft;
    background-color: rgb(32, 32, 36);
    color: azure;
    /* text-decoration: aliceblue; */
}
.container{
    width: 100%;
    padding: 70px 30px 20px ;
}
.rights{
background-color: #000;
padding: 10px;
text-align: center;
}
.name{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 8px 5px;
}
.socialicons{
    display: flex;
    justify-content: center;
}
.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(172, 175, 162);
    margin: 10px;
    border-radius: 50%;
}
.socialicons a i{
    font-size: 2rem;
    color: black;
    opacity: 0.9;
}
.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}


@media only screen and (max-width : 700px) {
    
    li a{
        display: inline;
        justify-content: right;
        color: black;
        margin: 20px;
       padding: 10px;
        text-decoration: none;
        font-size: 1.3em;
        opacity: 0.7;
        transition: 0.5s;
    }
    

}


